* {
    margin: 0;
    padding: 0;
    
    
    }
    .sliderCard{
        overflow-x: hidden;
    }
    
#nav{
    font-weight: 700;
    background-color:#FFE5B3;
    font-family: 'Chewy', cursive;
    font-weight: 400;
    font-size: 20px;
    }
    #menu{
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
    
    .redes{
        position: relative;
        width: 28px;
        height: 28px;
        border-radius: 4px;
        text-align: center;
        margin: 5px;
        
    }
    .ig{
        background-color: #D95071;
    }
    .fb{
        background-color: #2151CE;
    }
    .fa-instagram{
        position: absolute;
        color: white;
        font-size: 27px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .fa-facebook{
        position: absolute;
        color: white;
        font-size: 23px;
        top: -10;
        right: 0;
        left: 0;
        bottom: 0;
    }

/*PRINCIPAL*/
.principal__titulo{
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;  
    text-align: center;
    color: #515151;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*Arreglar el margin */
}
h2{
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #515151;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 22px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #555555;
}
/*Media para que en el celu no este el letter spacing
corregir padding y margin*/
.imagenFondo{
    width: 100%;
    height: auto;
}

/*QUIENES SOMOS*/
.quienesSomos__contenedor{
    margin: 10px;
    max-width: 100%;
    height: auto;
    text-align: center;
}
.quienesSomos__img{
    max-width: 75%;
    height: auto;
}
.quienesSomos__indContenedor{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 20px;    ;
    justify-content: space-around;   
}

/*
.quienesSomos__indContenedor{
    justify-content: space-between; o nada probar } 
*/
.contenedor__individuales{
    margin: 10px 0 10px 0;
    max-width: 20rem;
    height: auto;
}
.quienesSomos__individuales{
    width: 100%;
    height: auto;
}
/*CURSOS*/
.consultaIndividual{
    margin-top: 20px;
}
.consulta__subtitulo{
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;  
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #515151;
    margin: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

h5 a{
    font-family: 'Puritan', sans-serif;

font-style: normal;
font-weight: normal;
font-size: 18px;

text-align: center;

color: #494847;
}

.consulta__imgContenedor{
    margin: 10px;
    max-width: 100%;
    height: auto;}

.consulta__img{
    width: 100%;
    height: auto;
    }

.consulta__boton{
    background: #D7E1A6;
    border-radius: 10px;
    padding: 6px;
    border: none;
    font-family: 'Puritan', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #737373;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 180px;
}



.consulta__contenedor{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; 
}
.consulta{
    display: flex;
    align-items: center;
    margin: 10px;
}


/*CONTACTO*/
.formulario__contenedor {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    flex-wrap: wrap; }
    .form {
      text-align: center;
      width: 500px; }
     .form__section {
        width: 100%; }
.form__section textarea {
          height: 110px;
          resize: none; }
.form-control {
        outline: none;
        border-radius: 10px;
        border: 1px solid #f4d3e9; }
.form-control:focus, .custom-select:focus, .custom-control-input:focus ~ .custom-control-label::before, .custom-control-input:focus:not(:checked) ~ .custom-control-label::before { border-color: transparent; box-shadow: 0 0 0 0.5px #d9d9d9; }
.btn__contacto{
    background: #D7E1A6;
    border-radius: 10px;
    padding: 6px;
    border: none;
    font-family: 'Puritan', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #737373;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 180px;
}

.slide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 20rem; 
    height: auto;
    margin: 20px; 
}
.card__img{

    width: 100%;
    height: auto;
}

.slick-dots li button:before{
    font-size: 20px;
}