* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    body{
        background-color: #f4f1ec;
    }

    section{
        overflow-x: hidden;
    }
    
#nav{
    width: 100%;
    font-weight: 700;
    background-color:#FFE5B3;
    font-family: 'Chewy', cursive;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 4px 8px 23px 0px rgba(123,123,123,0.75);
    
    }
    #menu{
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
    .icono{
        width: 3.12rem;
        height: auto;
    }
    .textoLogo{
        width: 9.375rem;
        height: auto;
    }
    .redesNav{
        display: flex;
    }
    .redes{
        position: relative;
        width: 28px;
        height: 28px;
        border-radius: 4px;
        text-align: center;
        margin: 5px;
        
    }
    .ig{
        background-color: #D95071;
    }
    .fb{
        background-color: #2151CE;
    }
    .fa-instagram{
        position: absolute;
        color: white;
        font-size: 27px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .fa-facebook{
        position: absolute;
        color: white;
        font-size: 23px;
        top: -10;
        right: 0;
        left: 0;
        bottom: 0;
    }

    h2{
        font-family: 'Amaranth', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #515151;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 22px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #555555;
        margin: 10px 50px;
        padding: 10px 50px;
        line-height: 35px;
        letter-spacing: 0.1rem;
        text-align: justify;
    }
/*PRINCIPAL*/
.imagenPrincipal{
    width: 100%;
    height: auto;
}


.principal__titulo{
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;  
    text-align: center;
    color: #515151;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
}


/*QUIENES SOMOS*/
.quienesSomos__contenedor{
    display: flex;
    justify-content: center;
}
.quienesSomos__contenedorImg{
    margin: 20px;
    max-width: 70%;
    height: auto;
    text-align: center;
    background-color: #d9d9d9;
    transition: all 0.4s ease 0s;
    
}
.quienesSomos__img{
    max-width: 90%;
    height: auto;
    margin: 40px 0;
}
.quienesSomos__indContenedor{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 10px;    
    justify-content: space-around;
    flex-direction: row;
    
}

.contenedor__individuales{
    margin: 10px 0 10px 0;
    padding: 10px 0;
    max-width: 20rem;
    height: auto;
    text-align: left;
    background-color: #d9d9d9;
    align-items: center;
    transition: all 0.4s ease 0s;
    
}

.quienesSomos__contenedorImg:hover,.contenedor__individuales:hover{
    box-shadow: 4px 8px 23px 0px rgba(123,123,123,0.75);
    background: #f4d3e9;
}



.quienesSomos__individuales{
    width: 80%;
    height: auto;
}
/*CURSOS*/
.slide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{ 
    height: 22rem;
    margin: 20px; 
    

}
.card:hover{
    box-shadow: 4px 8px 20px 0px rgba(123,123,123,0.75);
}
.card__img{

    width: 100%;
    height: auto;
}

.card-title{
    text-align: center;
    color: #494847;
    font-family: 'Puritan', sans-serif;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}
a:hover{
    text-decoration: none;
}
.slick-dots li button:before{
    font-size: 20px;
}
.slick-dots{
    bottom: -25;
    
}
.consultaIndividual{
    margin-top: 20px;
}
.consulta__subtitulo{
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;  
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #515151;
    margin: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

h5 a{
    font-family: 'Puritan', sans-serif;

font-style: normal;
font-weight: normal;
font-size: 18px;

text-align: center;

color: #494847;
}

.consulta__contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.consulta__descrip{
    margin-bottom: 0;
}

.btnConsulta{
    margin: 10px 100px;
}

/*CONTACTO*/
.formulario__contenedor {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    flex-wrap: wrap; }
    .form {
      text-align: center;
      width: 500px; }
     .form__section {
        width: 100%; }
.form__section textarea {
          height: 110px;
          resize: none; }
.form-control {
        outline: none;
        border-radius: 10px;
        border: 1px solid #f4d3e9; }
.form-control:focus, .custom-select:focus, .custom-control-input:focus ~ .custom-control-label::before, .custom-control-input:focus:not(:checked) ~ .custom-control-label::before { border-color: transparent; box-shadow: 0 0 0 0.5px #d9d9d9; }
.btn__contacto{
    background: #D7E1A6;
    border-radius: 10px;
    padding: 6px;
    border: none;
    font-family: 'Puritan', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #737373;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 180px;
    
}

/*FOOTER*/
footer{
    background-color: #3F3B33;
}

.contenedorFoot{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}


footer{
    box-shadow: 0px -8px 20px 0px rgba(123,123,123,0.75);
}

.conteLogoFooter{
    width: 250px;
    height: auto;
    text-align: center;
    

}
.logoFooter{
    width: 100%;
    height: auto;
    
}
.enlacesFooter ul{
    margin-bottom: 0;
}
.enlacesFooter a{
    text-decoration: none;
    color: #FAFAFA;
    font-family: 'Puritan', sans-serif;
    font-size: 18px;
}

.listaFooter{
    list-style-type: none;
    padding: 10px;
}

.enlacesFooter a:hover{
    color:#d9d9d9;
}
.textFooter:hover{
    color: #d9d9d9;
    text-decoration: none;
}

.redesFooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.textos{
    display: flex;
    flex-direction: column;
}
.textFooter{
    color: white;
    font-family: 'Puritan', sans-serif;
    font-size: 17px;
    margin: 5px 0;
    padding: 0 10px;
    font-weight: normal;
    text-decoration: none;
}

.copy{
    color: white;
    font-family: 'Puritan', sans-serif;
    font-size: 20px;
    margin: 5px 0 0 ;
    padding: 0 10px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .contenedorFoot {
        justify-content: flex-start; }
    .conteLogoFooter{
        margin: auto;
    }
    .quienesSomos__indContenedor{
        align-items: center;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: nowrap;
    }
    .quienesSomos__contenedorImg{
        margin: 0 20px 20px;
    }
    .quienesSomos__img{
        margin: 10px 0;
    }
    p{
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    margin: 0 20px;
    padding: 0 10px;
    font-weight: normal;
    }
    .card{ 
        height: auto;}
    .card-body{
        height: 7.5rem;
        }
    }